<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colackyverse - About me</title>

     <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body onload="typeText1()">
<div class="center" class="noselect">
<div class="container-terminal"  class="center" class="noselect" onblur="this.focus()" autofocus>
    <textarea spellcheck="false" class="textarea" id="about" disabled></textarea>
</div>
</div>
<br>
<div class="bottom">
    <a href="index.html" class="button">GO BACK</a>
</div>

<!-- JS -->
<script src="assets/js/typingAbout.js"></script>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
</body>
</html>